{% extends 'cms2d/base.html' %}
{% block title %} - {{ topic_name }}{% endblock %}

{% block body_block %}
	<div class="page-header"><h1>{{ topic_name }}</h1></div>
	
	{% if topic %}
		{% if author %}
			<div>Author: {{ author.username }}</div>
		{% endif %}

		{% if user.is_authenticated %}
			<div class="topic-description" contenteditable>
				{% if topic.description %}
					{{ topic.description }}
				{% else %}
					Click to add a description.
				{% endif %}
			</div>
		{% else %}
			<div class="topic-description">{{ topic.description }}</div>
		{% endif %}

		{% if pages %}
			<ul>
				{% for page in pages %}
				<li><a href="{% url 'goto' %}?page_id={{ page.id }}">
					{{ page.title }}
				</a> ({{ page.views }})</li>
				{% endfor %}
			</ul>
		{% else %}
			<p><strong>No pages currently in category</strong></p>
		{% endif %}

		{% if user.is_authenticated %}
			<form action="add_page">
    			<input class="btn btn-primary" type="submit" value="Add a page" />
			</form>
		{% endif %}

		<div>
			{% if user.is_authenticated %}
				<button id="save-button" class="btn btn-success" type="button">Save</button>
			{% else %}
				<button id="like-button" data-category-id="{{ category.id }}" class="btn btn-primary" type="button">
					<span class="glyphicon glyphicon-thumbs-up"></span>
					Like
					<span id="vote-count">{{ category.votes }}</span>
				</button>
			{% endif %}
		</div>

	{% else %}
		<p>The topic {{ topic_name }} does not exist.
			{% if user.is_authenticated %}
				<a href="{% url 'add_topic' %}">Create it?</a>
			{% endif %}
		</p>
	{% endif %}
{% endblock %}