<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>Rango</title>
		<link rel="stylesheet" href="{% static "css/main.css" %}" />
	</head>
	<body>
		{% if category %}
			<h1>{{ category_name }}</h1>
			
			{% if pages %}
				<ul>
					{% for page in pages %}
					<li><a href="{{ page.url }}">{{ page.title }}</a></li>
					{% endfor %}
				</ul>
			{% else %}
				<p><strong>No pages currently in category</strong></p>
			{% endif %}

			{% if user.is_authenticated %}
				<a href="/rango/category/{{ category.slug }}/add_page">Add a Page</a>
			{% endif %}

		{% else %}
			<p>
				The category {{ category_name }} does not exist.
				{% if user.is_authenticated %}
					<a href="/rango/add_category">Create it?</a>
				{% endif %}
			</p>
		{% endif %}
		<a href="/rango/">Home</a>
	</body>
</html>