<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>Rango</title>
		<link rel="stylesheet" href="{% static "css/main.css" %}" />
	</head>
	<body>
		<h1>Front Page</h1>
		{% if user.is_authenticated %}
			<p>Signed in as {{ user.username }}</p>
		{% endif %}

		{% if categories_by_votes %}
			<h2>Most popular content</h2>
			<ul>
				{% for category in categories_by_votes %}
				<li>
					<a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>
					({{ category.votes }})
				</li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>No categories found with votes.</strong>
		{% endif %}

		{% if categories_by_views %}
			<h2>Most viewed content</h2>
			<ul>
				{% for category in categories_by_views %}
				<li>
					<a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>
					({{ category.views }})
				</li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>No categories found with views.</strong>
		{% endif %}
		<a href="/rango/add_category">Add a new category</a><br>
		<a href="/rango/register">Sign up</a><br>
		<a href="/rango/login">Login</a><br>
		<a href="/rango/about">About</a>
	</body>
</html>