{% extends 'rango/base.html' %}

{% block body_block %}
	<h1>Front Page</h1>
	{% if user.is_authenticated %}
		<p>Signed in as {{ user.username }}</p>
	{% endif %}

	{% if categories_by_votes %}
		<h2>Most popular content</h2>
		<ul>
			{% for category in categories_by_votes %}
			<li>
				<a href="{% url 'category' category.slug %}">{{ category.name }}</a>
				({{ category.votes }})
			</li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>No categories found with votes.</strong>
	{% endif %}

	{% if categories_by_views %}
		<h2>Most viewed content</h2>
		<ul>
			{% for category in categories_by_views %}
			<li>
				<a href="{% url 'category' category.slug %}">{{ category.name }}</a>
				({{ category.views }})
			</li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>No categories found with views.</strong>
	{% endif %}

{% endblock %}